<footer class="footer mt-auto bg-dark text-light py-3 h-card text-align-end">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="container">
      <div class="row">
        <div class="col mt-auto mb-0">
          {%- if site.author %}
          <ul class="contact-list list-unstyled ">
            {% if site.author.email -%}
            <li><i class="fa-solid fa-envelope"></i> {{ site.author.email }}</a></li>
            {%- endif %}

            {% if site.author.name -%}
              <li class="p-name">© {{ site.author.name | escape }}, {{ "now" | date: "%Y" }}</li>
            {% endif -%}
          </ul>
          {%- endif %}
        </div>
        <div class="col mt-auto mb-0">
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
      {%- if site.bootstrap.social_links -%}
      <div class="row py-3">
        <div class="col">
          {%- include social.html -%}
        </div>
      </div>
      {%- endif -%}
    </div>
  </footer>